.layeropt .input
  margin-top: 32px

.layeropt .name h3
  background: -webkit-linear-gradient(45deg , #12c2e9, #c471ed, #f64f59)
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent

.layeropt .image .container
  display: flex
  justify-content: center
  align-items: center
  width: 100%
  height: 150px
  background-color: rgba(0, 0, 0, 0.25)

.layeropt .image img:hover
  opacity: 0.5

.layeropt .image img
  max-height: 100%
  max-width: 100%
  transition: 0.2s
  opacity: 1

.tree .add
  margin-left: 8px