// Image Library
.dialog
  .library
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: flex-start

    .image
      margin: 16px

      .container
        display: flex
        justify-content: center
        align-items: center
        width: 150px
        height: 150px
        background-color: rgba(0, 0, 0, 0.25)

    .button
      position: absolute
      margin-top: -30px

    img
      max-height: 100%
      max-width: 100%

    .selectable
      transition: 0.3s
      opacity: 1

    .selectable:hover
      transition: 0.3s
      opacity: 0.5

// Layers and Resize
.layers .layer
  margin: 4px
  transition: 0.1s
  opacity: 1
  cursor: pointer

.layers .layer:hover
  opacity: 0.5

.layers h4
  background: -webkit-linear-gradient(45deg, #12c2e9, #c471ed, #f64f59)
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent

.layers .divider
  margin: 0px 0px 0px 0px

.resize .number
  width: 100%

// Saves
.dialog.iom
  .container
    display: flex
    flex-direction: row
    flex-wrap: wrap

  .save
    margin: 16px

    .container
      display: flex
      justify-content: center
      align-items: center
      width: 200px
      height: 150px
      background-color: rgba(0, 0, 0, 0.25)

      img
        max-height: 100%
        max-width: 100%

    .button
      margin-top: -32px

    .time
      margin-bottom: -20px

    .buttoncontainer
      width: 100%
      display: flex
      justify-content: space-between


