.dialog .library
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: flex-start

.dialog .library .image
  margin: 16px

.dialog .library .button
  position: absolute
  margin-top: -30px

.dialog .library .image .container
  display: flex
  justify-content: center
  align-items: center
  width: 150px
  height: 150px
  background-color: rgba(0, 0, 0, 0.25)

.dialog .library img
  max-height: 100%
  max-width: 100%

.dialog .library .selectable
  transition: 0.3s
  opacity: 1

.dialog .library .selectable:hover
  transition: 0.3s
  opacity: 0.5

.layers .layer
  margin: 4px
  transition: 0.1s
  opacity: 1
  cursor: pointer

.layers .layer:hover
  opacity: 0.5

.layers h4
  background: -webkit-linear-gradient(45deg , #12c2e9, #c471ed, #f64f59)
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent

.layers .divider
  margin: 0px 0px 0px 0px

.resize .number
  width: 100%

.iom .container
  display: flex

.iom .save .container
  display: flex
  justify-content: center
  align-items: center
  width: 200px
  height: 150px
  background-color: rgba(0, 0, 0, 0.25)

.iom .save .container img
  max-height: 100%
  max-width: 100%

.iom .save .button
  margin-top: -32px

.iom .save .buttoncontainer
  width: 100%
  display: flex
  justify-content: space-between
